<table class="record_properties">
    <tbody>
        <tr>
            <th>@{{ entity.user.username }}</th>
            <td>{{ entity.comment }}</td>
        </tr>
        <tr>
            <th>Likeme</th>
            <td>{{ entity.likeme }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        {% if (app.user.id == entity.user.id) %}
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% if (app.user.id == entity.user.id) %}
<ul class="record_actions">
    <li>
        <a href="{{ path('comment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('comment_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endif %}